h1 {
    text-align: center;
    color: #2F4858;
  }
  
  nav {
    background-color: #C80000;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: #487E91;
    text-decoration: none;
}

body {
  background-color: #56423D;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

.businessName {
  color: #56423D;;
}

.intro {
  color: #487E91;
}